<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<target xsi:type="ColoredConsole" name="cc" />
			<target name="n1" xsi:type="Network" address="udp4://127.0.0.1:4001">
				<layout xsi:type="Log4JXmlEventLayout"/>
			</target>
		</targets>

		<rules>
			<logger name="*" minlevel="trace" writeTo="cc,n1"/>
		</rules>
	</nlog>
</configuration>