<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		
	</configSections>

	<log4net>
		<!-- A1 is set to be a ConsoleAppender -->
		<appender name="cc" type="log4net.Appender.ColoredConsoleAppender">

			<!-- A1 uses PatternLayout -->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
			</layout>
		</appender>

		<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
			<remoteAddress value="127.0.0.1" />
			<remotePort value="4001" />
			<layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
		</appender>

		<!-- Set root logger level to DEBUG and its only appender to A1 -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="cc" />
			<appender-ref ref="UdpAppender" />
		</root>
	</log4net>
	
</configuration>